<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#" style="padding: 0px;"><img
				src="App/Images/hsbc.JPG" height="50px" width="160px"
				alt="HSBC Logo"></a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#home">Home</a></li>
			<li><a href="#pers">Personal Details</a></li>
			<li><a href="#cont">Contact Details</a></li>
			<li><a href="#contactus">Contact Us</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<div class="btn-group" style="margin: 7px 10px 0px 0px;">
				<a href="" class="btn btn-primary">Select Language</a>
				<a href="" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="" ng-click="vm.selectLang('en')">English</a></li>
					<li><a href="" ng-click="vm.selectLang('mx')">Spanish</a></li>
					<li><a href="" ng-click="vm.selectLang('ar')">Arabic</a></li>
				</ul>
			</div>
		</ul>
	</div>
</nav>